#basic-nav-dropdown {
  color: white !important;
  text-decoration: none;
  font-weight: 20px;
  font-size: 20px;
  padding-top: 5px;
}

.custom_navbar {
  background-color: #2b7c85;
}

.dropdownItem:hover {
  color: #002037 !important;
}
.dropdown-menu .dropdown-item.active {
  background-color: #87aca3;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #87aca3;
}
